/*------------------ NAVIGATION BAR -------------------*/

* {
    font-family: 'Quicksand', sans-serif;
}

/* Reset some default styles for consistency */
<<<<<<< HEAD
body, h1, h2, h3, p, ul, li {
=======
body,
h1,
h2,
h3,
p,
ul,
li {
>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
    margin: 0;
    padding: 0;
}


/* Navbar Styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.navbar-logo img {
    width: 40px;
    height: 40px;
    border-radius: 23042003px;
    filter: invert(1);
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.website-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
}

/* Updated styling for navigation links */
.navbar-links ul {
    list-style: none;
}

.navbar-links li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;

}

.navbar-links li a {
<<<<<<< HEAD
    text-decoration: none; /* Remove underline */
    color: #fff; /* Change text color to white */
=======
    text-decoration: none;
    /* Remove underline */
    color: #fff;
    /* Change text color to white */
>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
}

.navbar-links li:first-child {
    margin-left: 0;
}

/*------------------- Profile Section Styles -------------------*/

.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    flex-direction: column; /* Added to stack items vertically */
    height: 50vh; /* Adjust the height as per your requirement */
    background-color: white; /* Background color for the profile section */
=======
    flex-direction: column;
    /* Added to stack items vertically */
    height: 50vh;
    /* Adjust the height as per your requirement */
    background-color: white;
    /* Background color for the profile section */
>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541

}

.profile-content {
    display: flex;
<<<<<<< HEAD
    flex-direction: column; /* Stacking items vertically */
=======
    flex-direction: column;
    /* Stacking items vertically */
>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
    align-items: center;
    text-align: center;
}

.profile-content img {
<<<<<<< HEAD
    width: 200px; /* Adjust the size as per your profile picture */
    height: 200px; /* Adjust the size as per your profile picture */
    border-radius: 26042003px;
    margin-bottom: 10px; /* Add space between the picture and the name */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
=======
    width: 200px;
    /* Adjust the size as per your profile picture */
    height: 200px;
    /* Adjust the size as per your profile picture */
    border-radius: 26042003px;
    margin-bottom: 10px;
    /* Add space between the picture and the name */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add shadow effect */
>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
}

.profile-details h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.profile-occupations {
<<<<<<< HEAD
    display: flex; /* Display occupations side by side */
=======
    display: flex;
    /* Display occupations side by side */
>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
}

.profile-occupations p {
    font-size: 1.2rem;
<<<<<<< HEAD
    margin-right: 10px; /* Add space between "Teacher" and "Programmer" */
=======
    margin-right: 10px;
    /* Add space between "Teacher" and "Programmer" */
>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
}


/* ------------------- Books Section Styles ------------------- */

.books-section {
    margin-top: 20px;
    padding: 20px;
<<<<<<< HEAD
    background-color: #f7f7f7; /* Adjust the background color as needed */
=======
    background-color: #f7f7f7;
    /* Adjust the background color as needed */
>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
    text-align: center;
}

.books-section-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: -20px;
<<<<<<< HEAD
    color: white; /* Text color (black) */
    background-color: rgb(31, 31, 31); /* Button color (adjust as desired) */
    padding: 12px 10px; /* Add padding around the text */
    border-radius: 23042003px; /* Rounded corners for the button appearance */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
=======
    color: white;
    /* Text color (black) */
    background-color: rgb(31, 31, 31);
    /* Button color (adjust as desired) */
    padding: 12px 10px;
    /* Add padding around the text */
    border-radius: 23042003px;
    /* Rounded corners for the button appearance */
    transition: background-color 0.3s ease;
    /* Smooth transition on hover */
>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
    width: 300px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
<<<<<<< HEAD
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6); /* Add a nice shadow effect */
}

.books-section-title:hover {
    color: black; 
=======
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    /* Add a nice shadow effect */
}

.books-section-title:hover {
    color: black;
>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
    background-color: white;
}

.books-container {
    display: flex;
<<<<<<< HEAD
    overflow-x: auto; /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
    justify-content: flex-start; /* Align images to the left */
=======
    overflow-x: auto;
    /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch;
    /* Enable smooth scrolling on iOS */
    justify-content: flex-start;
    /* Align images to the left */
>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
    align-items: center;
    padding: 20px 0;
    /* Add padding to the left to make the first image fully visible */
    padding-left: 10px;
}

.books-container img {
<<<<<<< HEAD
    width: 150px; /* Adjust the size of the book images */
    height: 200px; /* Adjust the size of the book images */
    margin: 0 18px; /* Add some spacing between the book images */
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); /* Add a nice shadow effect */
    transition: transform 0.3s ease;
}

.books-container img:hover {
    transform: scale(1.1);
}

=======
    width: 150px;
    height: 200px;
    margin: 0 18px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
    position: relative;
}

.books-container img::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 150px;
    background-color: #ccc; /* Page color */
    transform: translateZ(-10px); /* Adjust the thickness of the book */
    transition: transform 0.3s ease;
    z-index: -1;
    border-radius: 5px;
    opacity: 0.7; /* Adjust the transparency of the thickness element */
}

.books-container img:hover {
    transform: rotateY(30deg) rotateX(-15deg);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.books-container img:hover::before {
    transform: translateZ(-30px); /* Adjust the thickness of the book on hover */
}


>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
/* Hide the horizontal scrollbar */
.books-container::-webkit-scrollbar {
    display: none;
}

/* Make the images draggable with the mouse */
.books-container {
<<<<<<< HEAD
    -ms-overflow-style: none; /* Hide scrollbar on IE and Edge */
    scrollbar-width: none; /* Hide scrollbar on Firefox */
=======
    -ms-overflow-style: none;
    /* Hide scrollbar on IE and Edge */
    scrollbar-width: none;
    /* Hide scrollbar on Firefox */
>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
}


/* ------------------- Languages Section Styles ------------------- */

.languages-section {
    margin-top: 100px;
    padding: 20px;
<<<<<<< HEAD
    background-color: #f7f7f7; /* Adjust the background color as needed */
=======
    background-color: #f7f7f7;
    /* Adjust the background color as needed */
>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
    text-align: center;
}

.languages-section-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: -20px;
<<<<<<< HEAD
    color: white; /* Text color (black) */
    background-color: rgb(31, 31, 31); /* Button color (adjust as desired) */
    padding: 12px 10px; /* Add padding around the text */
    border-radius: 23042003px; /* Rounded corners for the button appearance */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
=======
    color: white;
    /* Text color (black) */
    background-color: rgb(31, 31, 31);
    /* Button color (adjust as desired) */
    padding: 12px 10px;
    /* Add padding around the text */
    border-radius: 23042003px;
    /* Rounded corners for the button appearance */
    transition: background-color 0.3s ease;
    /* Smooth transition on hover */
>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
    width: 300px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
<<<<<<< HEAD
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6); /* Add a nice shadow effect */
}

.languages-section-title:hover {
    color: black; 
=======
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    /* Add a nice shadow effect */
}

.languages-section-title:hover {
    color: black;
>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
    background-color: white;
}

.languages-container {
    display: flex;
<<<<<<< HEAD
    justify-content: center; /* Center the images horizontally */
=======
    justify-content: center;
    /* Center the images horizontally */
>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
    align-items: center;
    padding: 20px 0;
}

.languages-container img {
<<<<<<< HEAD
    width: 150px; /* Adjust the size of the language images */
    height: 150px; /* Adjust the size of the language images */
    margin: 0 18px; /* Add some spacing between the language images */
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); /* Add a nice shadow effect */
=======
    width: 150px;
    /* Adjust the size of the language images */
    height: 150px;
    /* Adjust the size of the language images */
    margin: 0 18px;
    /* Add some spacing between the language images */
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    /* Add a nice shadow effect */
>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
    transition: transform 0.3s ease;
}

.languages-container img:hover {
    transform: scale(1.1);
}

.additional-languages-container {
    display: flex;
<<<<<<< HEAD
    justify-content: center; /* Center the images horizontally */
=======
    justify-content: center;
    /* Center the images horizontally */
>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
    align-items: center;
    padding: 20px;
}

.additional-languages-container img {
<<<<<<< HEAD
    width: 100px; /* Adjust the size of the additional language images */
    height: 100px; /* Adjust the size of the additional language images */
    margin: 0 18px; /* Add some spacing between the additional language images */
=======
    width: 100px;
    /* Adjust the size of the additional language images */
    height: 100px;
    /* Adjust the size of the additional language images */
    margin: 0 18px;
    /* Add some spacing between the additional language images */
>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
    border-radius: 5px;
    transition: transform 0.3s ease;

}

/* Add scaling effect and shadow to the lower three images when hovered */
#adv-logo:hover,
#dsa-logo:hover,
#dbms-logo:hover {
    transition: transform 0.3s ease;
<<<<<<< HEAD
    transform: scale(1.1); /* Apply scaling effect on hover */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); /* Add a nice shadow effect */
    
=======
    transform: scale(1.1);
    /* Apply scaling effect on hover */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    /* Add a nice shadow effect */

>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
}

#c-logo {
    border-radius: 16px;
    padding: 30px;
    width: 60px;
    height: 60px;
    /* filter: invert(1);   */
}
<<<<<<< HEAD
=======

>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
#cpp-logo {
    border-radius: 16px;
    padding: 15px;
    width: 90px;
    height: 90px;
    /* filter: invert(1);   */
}
<<<<<<< HEAD
=======

>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
#java-logo {
    border-radius: 16px;
    padding: 15px;
    width: 95px;
    height: 95px;
    /* filter: invert(1);   */
}
<<<<<<< HEAD
=======

>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
#python-logo {
    border-radius: 16px;
    padding: 15px;
    width: 90px;
    height: 90px;
    /* filter: invert(1);   */
}
<<<<<<< HEAD
=======

>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
#adv-logo {
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 16px;
    padding: 10px;
    width: 100px;
    height: 100px;
    /* filter: invert(1);   */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
<<<<<<< HEAD
=======

>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
#dsa-logo {
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 16px;
    padding: 15px;
    width: 85px;
    height: 85px;
    /* filter: invert(1);   */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
<<<<<<< HEAD
=======

>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
#dbms-logo {
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 16px;
    padding: 20px;
    width: 80px;
    height: 80px;
    /* filter: invert(1);   */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

/* ------------------- Location Section Styles ------------------- */
.location-section {
    margin-top: 100px;
    padding: 20px;
    background-color: #f7f7f7;
    text-align: center;
}

.location-section-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: -20px;
    color: white;
    background-color: rgb(31, 31, 31);
    padding: 12px 10px;
    border-radius: 23042003px;
    transition: background-color 0.3s ease;
    width: 250px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.location-section-title:hover {
    color: black;
    background-color: white;
}

.location-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.location-subsection {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

.location-subsection h3 {
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
    margin-top: -50px;
<<<<<<< HEAD
    margin-bottom: -30px;   
    color: white; /* Text color (black) */
    background-color: rgb(31, 31, 31); /* Button color (adjust as desired) */
    padding: 12px 10px; /* Add padding around the text */
    border-radius: 23042003px; /* Rounded corners for the button appearance */
=======
    margin-bottom: -30px;
    color: white;
    /* Text color (black) */
    background-color: rgb(31, 31, 31);
    /* Button color (adjust as desired) */
    padding: 12px 10px;
    /* Add padding around the text */
    border-radius: 23042003px;
    /* Rounded corners for the button appearance */
>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
    width: 250px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
<<<<<<< HEAD
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6); /* Add a nice shadow effect */
=======
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    /* Add a nice shadow effect */
>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
}

iframe {
    margin-top: 60px;
    width: 100%;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

/* ------------------- Footer Section Styles ------------------- */

<<<<<<< HEAD
.footer-section {
=======
#footer {
>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #323232;
    padding: 30px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-top: 130px;
    margin-left: 0px;
}

.social-media {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
<<<<<<< HEAD
=======
    transition: transform 0.3s ease;
    border-radius: 16px;

>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
}

.social-media img {
    width: 22px;
    height: 22px;
    margin-right: 10px;
    margin-top: 10px;
    filter: invert(1);
<<<<<<< HEAD
=======
    transition: transform 0.3s ease;
    padding-left: 3px;

}

.social-media:hover,
.social-media img:hover {
    transform: scale(1.1);
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); */
>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
}

.footer-left p {
    font-size: 18px;
    font-weight: bold;
    color: white;
<<<<<<< HEAD

=======
    padding-left: 3px;
>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
}

.get-in-touch {
    font-size: 1.5rem;
    font-weight: bold;
<<<<<<< HEAD
    margin-top: 40px;
    margin-left: -760px;
    color: black;
    background-color: rgb(169, 169, 169);
    padding: 12px 10px;
    border-radius: 23042003px;
    height: 30px;
    width: 180px;
    padding-left: 40px;
    top: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease;
}

=======
    margin-top: 20px;
    margin-left: -830px;
    color: white;
    background-color: rgb(169, 169, 169);
    padding: 12px 10px;
    border-radius: 50px;
    height: 30px;
    width: 180px;
    padding-left: 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;

}

.get-in-touch:hover {
    background-color: gray;
    transform: scale(1.1);
}
>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541

.footer-middle {
    display: flex;
    justify-content: center;
<<<<<<< HEAD
    overflow: hidden; /* Hide the overflowing images */
    width: 550px;
    margin-left: 100px;
=======
    overflow: hidden;
    /* Hide the overflowing images */
    width: 550px;
    margin-left: 60px;
>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
    border-radius: 23px;
}

.slideshow {
<<<<<<< HEAD
    display: flex; /* Display images side by side */
    animation: slideAnimation 60s linear infinite; /* Adjust the animation duration as needed */
}

.slideshow img {
    margin-top: 10px;
    width: 500px; /* Set the desired width for the images */
    height: auto;
    margin: 0 10px;
    padding: 0;
    border-radius: 16px;

}

@keyframes slideAnimation {
    from {
        transform: translateX(0);
    }
    to {
=======
    display: flex;
    /* Display images side by side */
    animation: slideAnimation 60s linear infinite;
}

@keyframes slideAnimation {
    0% {
        transform: translateX(0);
    }

    100% {
>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
        transform: translateX(-100%);
    }
}

<<<<<<< HEAD

/* Optional CSS for slideshow animation */
.slideshow img:not(:first-child) {
    transform: translateX(100%);
}

.slideshow.animate img {
    transform: translateX(-100%);
}



=======
.slideshow img {
    margin-top: 10px;
    width: 500px;
    /* Set the desired width for the images */
    height: auto;
    margin: 0 10px;
    padding: 0;
    border-radius: 16px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 1);
}

/* Optional: Pause animation on hover */
.slideshow:hover {
    animation-play-state: paused;
}

>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
.footer-right {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-right: 50px;
<<<<<<< HEAD
} 
=======
}
>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541

.footer-subcolumn {
    display: flex;
    flex-direction: column;
}

<<<<<<< HEAD
=======

>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
.footer-subcolumn input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 500px;
}

<<<<<<< HEAD

=======
>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
.footer-subcolumn .submit-button {
    background-color: lightgreen;
    color: rgb(53, 53, 53);
    font-size: 18px;
    font-weight: bolder;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

<<<<<<< HEAD
=======
/* Optional: Reset input font-size and font-weight */
>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
.footer-subcolumn input {
    font-size: 14px;
    font-weight: bolder;
}

<<<<<<< HEAD

=======
.subjects-checkbox,
.locations-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.subjects-checkbox label,
.locations-checkbox label {
    display: flex;
    align-items: center;
    margin-right: 15px;
    font-size: 14px;
    color: white;
}

.subjects-checkbox input[type="checkbox"],
.locations-checkbox input[type="checkbox"] {
    margin-right: 5px;
    width: 16px;
    height: 16px;
    margin-top: 12px;
    font-weight: bold;
}
>>>>>>> bc29a08b1fad9778a1aac80f6be2a326a90b7541
